
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <h1>Welcome to the Fixer.io API Consumption Demo</h1>
    <p>To make use of this application, please register for an API key at <a href="https://fixer.io/" target="_blank">https://fixer.io/</a>.
    </p>
    <p>
        After receiving your APPID from https://fixer.io/, change your appid strings in the following place:
        <ul>
            <li>Models -> Currency.cs </li>
        </ul>
    </p>
    <p class="warning">This app will not work unless you change your appid as stated above.</p>
    </div>